<!DOCTYPE html>
<html>
<head>
    <title>ToDo App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Your ToDo List</h1>
    <form action="/todos" method="post">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Add ToDo</button>
    </form>
    <ul class="list-group mt-4">
        {% for todo in todos %}
        <li class="list-group-item">
            <strong>{{ todo.title }}</strong> - {{ todo.description }}
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
